

h1 {display: block; margin-bottom: 8px;color: black; font-size: 50PX;}
h3 {display: block; margin-left:200px;}
h4 {display: block;margin-right: 300px;}



		h1	{text-align: center;}

		h1 {margin:auto; width: 41%;}
		.background4{background-color: #ffca4b;}
		.firstvideo {margin-top: 1%;}
		.background5{background-color:#ffca4b; }
		#name {float: right;}

		.bak {width: 25%; height: 10%;}



			.move {margin-right: 80%;
			width:38%;
			text-align: justify;
			padding-left;}
		

			.move2 {text-align: justify;
						float: right;
						margin-top: -250px;
						width: 38%;}


			


